<link rel="stylesheet" href="/css/post.css">



<li class="onlypost" id="post-<%= post._id %>">

            <div class="newpost">      
        <% if (locals.user && locals.user.id == post.user.id){ %>
            <a class="delete-post-button"  href="/posts/destroy/<%= post.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
           
           
            <img src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png" alt="avatar" width="100">
            
            <small><br />
            
        </small>
        <% } %>
       
            <small id="username">
               
            <%= post.user.name %>
            </small>
            <br /> 
           <small id="content"> 
        <%= post.content %>
    </small>
    
     <!-- display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
     <br>
     <!-- study about the data attribute -->
 <small>
     <% if (locals.user){ %>
         <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
            <%= post.likes.length %> <i class="toggle-like-button fa fa-thumbs-up" aria-hidden="true"></i>      
            
                   
        
         </a>
     <% }else{ %>
           
         <%= post.likes.length %>  <i class="fa fa-thumbs-up " aria-hidden="true"></i>      
       
     <% } %>
 </small>

</div>

</p>

    
    <div class="post-comments">
        <% if (locals.user){ %>
            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>" >
                <input type="submit" value="Add Comment">
            </form>

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for (comment of post.comments){%>

                    <%- include('_comment') -%>
                    
                
                <%} %>
            </ul>
        </div>
    </div>
    
</li>